@inherits LayoutComponentBase

<div class="page">
    <div class="sidebar">
        <NavMenu />
    </div>

    <main>
        <div class="top-row px-4">
            <h3 class="text-white"><i class="bi bi-robot"></i> Autolife</h3>
        </div>

        <article class="content px-4">
            @Body
        </article>
    </main>
</div>
